@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

*,
*::after
*::before {
box-sizing: border-box;

/* font-smoothing */
-webkit-font-smoothing: antialiased;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
-moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6, p {
margin: 0;
padding: 0;
}


body {
display: flex;
flex-direction: column;
background-color: rgb(239, 239, 239);
font-family: 'Titillium Web', sans-serif;
font-size: 1em;
}

main {
display: grid;
grid: 
'info events';
}


/* NAVBAR 
================================================= */

/* contains navbar container */
.navbar {
background-color: rgb(0, 0, 0);
position: fixed;
top: 0;
left: 0;
right: 0;
max-width: 100%;
box-shadow: 1px 1px 10px black;
}

/* contains navbar content */
.navbar--container {
display: flex;
align-items: center;
margin: 0 auto;
justify-content: space-between;
}

/* navbar logo */
.navbar img {
min-width: 7em;
margin-left: 1.5em;
margin-right: auto;
user-select: none;
}

/* contains navbar links and button */
.navbar ul {
display: flex;
align-items: center;
list-style: none;
}

/* navbar links */
ul a {
text-decoration: none;
color: whitesmoke;
margin-left: 1.8em;
}

ul a:hover {
color: rgb(206, 206, 206);
}

.join-now-button {
margin-left: 2em;
margin-right: 1.5em;
background-color: rgb(238, 4, 4);
color: rgb(255, 255, 255);
padding: 0.5em 1.5em;
border: 1px solid gray;
border-radius: 1em;
font-size: 1em;
font-family: 'Titillium Web', sans-serif;
user-select: none;
}

.join-now-button:hover {
background-color: rgb(191, 1, 1);
cursor: pointer;
}



/* HEADER
================================================= */

/* contains header container */
.header {
background-image: url(images/ufc-bg-image.png);
background-repeat: no-repeat;
background-size: 100vw 100vh;
background-position: 0;
background-attachment: fixed;
margin-top: 4.15em;
padding: 11em 5em;

}

/* contains header content */
.header--container {
border: 4px solid rgba(255, 255, 255, 0.6);
color: white;
flex-direction: column;
padding: 2em;
background-color: rgba(16, 8, 8, 0.653);
max-width: 26em;
margin: 0 auto;
}

/* contains h1 */
.header--text {
margin: 0 auto;
font-size: 2em;
display: flex;
justify-content: center;
align-items: center;
}

/* contains header buttons */
.header--buttons {
display: flex;
justify-content: center;
flex-wrap: wrap;
}


.header--buttons button {
background-color: rgba(0, 0, 0, 0);
padding: 1em 2.1em;
border: 2px solid whitesmoke;
border-radius: 0.6em;
margin: 1em;
font-size: 0.7em;
}

.header--buttons button:hover {
background-color: rgba(0, 0, 0, 0.5);
cursor: pointer;
}

.header--buttons a {
text-decoration: none;
color: white;
font-size: 1.2em;
user-select: none;
}

/* balcatta text */
h1 {
user-select: none;
}



/* INFO 
================================================= */

/* contains info containers */
.info--container {
margin-left: auto;
padding: 2em;
min-height: 80vh;
display: flex;
flex-direction: column;
}

/* contains info */
.info--container .container {
border: 1px solid lightgray;
background-color: white;
display: flex;
flex-direction: column-reverse;
padding: 0.8em 2em;
box-shadow: 1px 1px 0.8em rgba(107, 106, 106, 0.298);
margin-bottom: 1em;
}

/* contains heading and icon */
.headericon {
display: flex;
align-items: center;
margin-bottom: 0.7em;
}

/* icons in info boxes */
.info--container img {
max-width: 1.7em;
margin-left: auto;
padding: 0.2em;
max-block-size: 2em;
min-width: 1.1em;
}

/* contains heading and icon for hours */
.headericon.hours {
display: flex;
align-items: center;
margin-bottom: 0.4em;
}

/* contains text for gym hours */
.hours--text {
display: flex;
flex-direction: column;
}

/* contains day and hours text */
.day {
display: flex;
}

/* days in hours container */
.info--container span {
margin-right: auto;
}

/* contains heading and icon for timetable */
.info.timetable .headericon {
margin: 0;
}



/* IMAGES
================================================= */

/* contains offer and events */
.images--container {
padding: 2em;
min-height: 80vh;
display: flex;
flex-direction: column;
margin-right: auto;
}

/* contains offer details */
.offer--container {
background-image: url(images/ufcgym-offer-1.png);
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
padding: 2em 8em;
flex-basis: 30%;
box-shadow: 1px 1px 0.7em black;
}

/* contains offer text */
.offer--text {
text-align: center;
color: whitesmoke;
font-size: 1.8em;
line-height: 2em;
text-shadow: 3px 3px 0.4em black;
min-width: 100%;
}

/* get offer button */
.offer--container button {
margin-top: 2em;
padding: 0.6em 1.4em;
font-size: 1em;
background-color: red;
color: white;
border: 1px solid darkgrey;
border-radius: 0.5em;
text-shadow: 2px 1px 0.5em black;
}

/* contains event details */
.events--container {
box-shadow: 1px 1px 0.9em darkgray;
padding: 1em;
border: 1px solid red;
}

/* events heading */
.events--container h3 {
color: rgb(217, 0, 0);
font-size: 2em;
margin-bottom: 0.3em;
}

/* contains image and event text */
.events-img-txt {
display: flex;
}

/* events text */
.events--container p {
margin-right: auto;
font-size: 1.2em;
}

/* events image */
.events--container img {
margin-right: 1.8em;
}

/* NO EVENTS text */
.events--container span {
text-transform: uppercase;
text-decoration: underline solid red 2px;
margin-left: auto;
color: rgb(97, 97, 97);
}



/* FOOTER
================================================= */

.footer {
display: grid;
grid: 'slogan'
      'footer';
background-color: black;
min-width: 45em;
}

.footer--container {
display: flex;
color: whitesmoke;
}



.slogan {
outline: 1px solid red;
display: flex;
background-color: rgb(234, 0, 0);
min-width: 100%;
}

.slogan p {
margin: 0.8em auto;
font-size: 2em;
color: white;
text-shadow: 1px 1px 0.5em rgba(0, 0, 0, 0.5);
}




.footer a {
text-decoration: none;
color: whitesmoke;
}

.footer img {
max-width: 6em;
}

