@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

*,
*::after
*::before {
box-sizing: border-box;
margin: 0;
padding: 0;

/* font-smoothing */
-webkit-font-smoothing: antialiased;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
-moz-osx-font-smoothing: grayscale;
}

body {
display: flex;
flex-direction: column;
background-color: rgb(239, 239, 239);
font-family: 'Titillium Web', sans-serif;
font-size: 1em;
margin: 0;
}


/* NAVBAR 
================================================= */

/* contains navbar container */
.navbar {
background-color: rgb(0, 0, 0);
position: fixed;
top: 0;
left: 0;
right: 0;
max-width: 100%;
box-shadow: 1px 1px 10px black;
}

/* contains navbar content */
.navbar--container {
display: flex;
align-items: center;
margin: 0 auto;
justify-content: space-between;
}

/* navbar logo */
.navbar img {
min-width: 7em;
margin-left: 1.5em;
margin-right: auto;
user-select: none;
}

/* contains navbar links and button */
.navbar ul {
display: flex;
align-items: center;
list-style: none;
}

/* navbar links */
ul a {
text-decoration: none;
color: whitesmoke;
margin-left: 1.8em;
}

ul a:hover {
color: rgb(206, 206, 206);
}


.join-now-button {
margin-left: 2em;
margin-right: 1.5em;
background-color: rgb(238, 4, 4);
color: rgb(255, 255, 255);
padding: 0.5em 1.5em;
border: 1px solid gray;
border-radius: 1em;
font-size: 1em;
font-family: 'Titillium Web', sans-serif;
user-select: none;
}

.join-now-button:hover {
background-color: rgb(191, 1, 1);
cursor: pointer;
}



/* HEADER
================================================= */

/* contains header container */
.header {
background-image: url(images/ufc-bg-image.png);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
margin-top: 4.15em;
padding: 11em 5em;

}

/* contains header content */
.header--container {
border: 4px solid rgba(255, 255, 255, 0.6);
color: white;
flex-direction: column;
padding: 0 4em 2.2em 4em;
background-color: rgba(16, 8, 8, 0.653);
max-width: 26em;
margin: 0 auto;
}

/* contains h1 */
.header--text {
margin: 0 auto;
font-size: 2em;
display: flex;
justify-content: center;
align-items: center;
}

/* contains header buttons */
.header--buttons {
display: flex;
justify-content: center;
}


.header--buttons button {
background-color: rgba(0, 0, 0, 0);
padding: 1em 2.1em;
border: 2px solid whitesmoke;
border-radius: 0.6em;
margin: 1em;
}

.header--buttons button:hover {
background-color: rgba(0, 0, 0, 0.5);
cursor: pointer;
}

.header--buttons a {
text-decoration: none;
color: white;
font-size: 1.2em;
user-select: none;
}

/* balcatta text */
h1 {
user-select: none;
}



/* INFO 
================================================= */



